<header>
  <h1>Task List</h1>
</header>

<section>
  <form action="" method="post" id="tasks">
    <input type="submit" value="Update">
    <!-- task in @tasks is an array -->
    <fieldset>
    <% @tasks.each do |task| %>
       <label><input type="checkbox" name="completed[]" value=<%= task[0] %>>
        <% if task[3] != nil %>
          <h3 id = <%= 'completed' %>><%= task[1] %> </h3></label>
        <% else %>
          <h3> <%= task[1] %></h3></label>
        <% end %>
       <p>
         <%= task[2] %>
       </p>
       <p>
         <a href="/delete/<%= task[0] %>">Delete</a>
       </p>
    <% end %>
    </fieldset>
  </form>
</section>
